@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  min-height: 100%;
}
:root {
  --font-sans: var(--font-inter);

  --text-display: 64px;
  --text-h1: 48px;
  --text-h2: 36px;
  --text-h3: 28px;
  --text-body: 16px;
  --text-small: 14px;

  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
}

body {
  font-family: var(--font-sans);
}
:root {
  --font-sans: var(--font-inter);

  --text-display: 64px;
  --text-h1: 48px;
  --text-h2: 36px;
  --text-h3: 28px;
  --text-body: 16px;
  --text-small: 14px;

  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
}

body {
  font-family: var(--font-sans);
}